
<div class="container justify-content-center m-5">

  <h2>Hello, I am your coach, what did you want to tell me?</h2>

  <form action="/answer" method="get">
    <input type="text" class="form-control" name="answer" placeholder="Whaaaaat!?" style="width: 400px">
    <button type="submit" class="btn btn-primary m-2">Submit</button>
  </form>
</div>
